<!-- Footer -->
<footer class="page-footer font-small orange darken-3 pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">SOCIAL MEDIA</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#" target="_blank"> <i class="fab fa-facebook-square"></i> </a>
          </li>
          <li>
            <a href="#" target="_blank"> <i class="fab fa-twitter-square"></i> </a>
          </li>
          <li>
            <a href="#" target="_blank"> <i class="fab fa-youtube-square"></i> </a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">CONTACT US</h5>

        <ul class="list-unstyled">
          <li>
            <p>Mobile: (254)724-888-888</p>
          </li>
          <li>
            <p>Email: email@artliberty.com</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href=""> artliberty.co.ke</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->