<div>
    <div class="heading">
        <h1>LEARN MORE ABOUT ART LIBERTY</h1>
        <P>Art liberty is privately owned and operated by friends. No large corporations or investors keep our place
            rocking and rolling. Art liberty Studio was built with the intention to offer a safe, creative place for
            anyone and everyone to record, mix and master the highest quality of music. </P>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 img-wrap">
              
            </div>
            <div class="col-md-6">
            <h1>Our team</h1>
            </div>
        </div>
    </div>
</div>