<div class="container">
  <div class="heading">
    <h1>Learn more about Art Liberty</h1>
    <P>Art liberty is privately owned and operated by friends. No large corporations or investors keep our place
      rocking and rolling. Art liberty Studio was built with the intention to offer a safe, creative place for
      anyone and everyone to record, mix and master the highest quality of music. </P>
  </div>
  <!-- Section: Team v.3 -->
  <section class="team-section my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive text-center ">Our amazing team</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas
      nostrum quisquam eum porro a pariatur veniam.</p>

    <!-- Grid row-->
    <div class="container row text-center text-md-left">

      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
        <div class="avatar mb-md-0 mb-4 mx-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded z-depth-1"
            alt="Sample avatar">
        </div>
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">John Doe</h4>
          <h6 class="font-weight-bold grey-text mb-3">Web Designer</h6>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
            tenetur.</p>
          <!-- Facebook-->
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f"> </mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <mdb-icon fab icon="twitter"> </mdb-icon>
          </a>
          <!--Dribbble -->
          <a class="p-2 fa-lg dribbble-ic">
            <mdb-icon fab icon="dribbble"> </mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
        <div class="avatar mb-md-0 mb-4 mx-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded z-depth-1"
            alt="Sample avatar">
        </div>
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">Maria Kate</h4>
          <h6 class="font-weight-bold grey-text mb-3">Photographer</h6>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
            tenetur.</p>
          <!-- Facebook-->
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f"> </mdb-icon>
          </a>
          <!--YouTube -->
          <a class="p-2 fa-lg yt-ic">
            <mdb-icon fab icon="youtube"> </mdb-icon>
          </a>
          <!--Instagram-->
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="instagram"> </mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

    <!-- Grid row-->
    <div class="row text-center text-md-left">

      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 mb-xl-0 mb-5 d-md-flex justify-content-between">
        <div class="avatar mb-md-0 mb-4 mx-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg" class="rounded z-depth-1"
            alt="Sample avatar">
        </div>
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">Anna Deynah</h4>
          <h6 class="font-weight-bold grey-text mb-3">Web Developer</h6>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
            tenetur.</p>
          <!-- Facebook-->
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f"> </mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <mdb-icon fab icon="twitter"> </mdb-icon>
          </a>
          <!-- GitHub-->
          <a class="p-2 fa-lg git-ic">
            <mdb-icon fab icon="github"> </mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 d-md-flex justify-content-between">
        <div class="avatar mb-md-0 mb-4 mx-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" class="rounded z-depth-1 img-fluid"
            alt="Sample avatar">
        </div>
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">Sarah Melyah</h4>
          <h6 class="font-weight-bold grey-text mb-3">Front-end Developer</h6>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
            tenetur.</p>
          <!-- Google +-->
          <a class="p-2 fa-lg gplus-ic">
            <mdb-icon fab icon="google-plus"> </mdb-icon>
          </a>
          <!--LinkedIn -->
          <a class="p-2 fa-lg li-ic">
            <mdb-icon fab icon="linkedin-in"> </mdb-icon>
          </a>
          <!--Email-->
          <a class="p-2 fa-lg email-ic">
            <mdb-icon fas icon="envelope"> </mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </section>
  <!-- Section: Team v.3 -->
  <!-- Section: Testimonials v.4 -->
  <section class="container text-center my-5 mt-5">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Testimonials v.4</h2>
    <!-- Grid row -->
    <div class="row">
      <!--Carousel Wrapper-->
      <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation testimonial-carousel"
        [type]="'carousel-multi-item'" [animation]="'slide'">
        <!--First slide-->
        <mdb-slide>
          <!--Grid column-->
          <div class="col-md-4">
            <div class="testimonial">
              <!--Avatar-->
              <div class="avatar mx-auto">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(25).jpg" class="rounded-circle img-fluid">
              </div>
              <!--Content-->
              <h4 class="font-weight-bold mt-4">Anna Deynah</h4>
              <h6 class="blue-text font-weight-bold my-3">Web Designer</h6>
              <p class="font-weight-normal">
                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Lorem ipsum dolor sit amet, consectetur
                adipisicing elit.
                Quod eos
                id officiis hic tenetur.
              </p>
              <!--Review-->
              <div class="grey-text">
                <mdb-icon fas [icon]="i == 4 ? 'star-half' : 'star'" *ngFor="let star of stars; let i = index">
                </mdb-icon>
              </div>
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="testimonial">
              <!--Avatar-->
              <div class="avatar mx-auto">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle img-fluid">
              </div>
              <!--Content-->
              <h4 class="font-weight-bold mt-4">John Doe</h4>
              <h6 class="blue-text font-weight-bold my-3">Web Developer</h6>
              <p class="font-weight-normal">
                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Ut enim ad minima veniam, quis nostrum
                exercitationem ullam
                corporis
                laboriosam.
              </p>
              <!--Review-->
              <div class="grey-text">
                <mdb-icon fas icon="star" *ngFor="let star of stars; let i = index"></mdb-icon>
              </div>
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="testimonial">
              <!--Avatar-->
              <div class="avatar mx-auto">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid">
              </div>
              <!--Content-->
              <h4 class="font-weight-bold mt-4">Abbey Clark</h4>
              <h6 class="blue-text font-weight-bold my-3">Photographer</h6>
              <p class="font-weight-normal">
                <mdb-icon fas icon="quote-left" class="fas fa-quote-left pr-2"></mdb-icon>Quis autem vel eum iure
                reprehenderit qui in ea voluptate
                velit esse
                quam nihil molestiae.
              </p>
              <!--Review-->
              <div class="grey-text">
                <mdb-icon fas [icon]="i == 4 ? 'star-o' : 'star' " *ngFor="let star of stars; let i = index"></mdb-icon>
              </div>
            </div>
          </div>
          <!--Grid column-->
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
          <div class="col-md-4">
            <div class="testimonial">
              <!--Avatar-->
              <div class="avatar mx-auto">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg" class="rounded-circle img-fluid">
              </div>
              <!--Content-->
              <h4 class="font-weight-bold mt-4">Blake Dabney</h4>
              <h6 class="blue-text font-weight-bold my-3">Web Designer</h6>
              <p class="font-weight-normal">
                <mdb-icon fas icon="quote-elft" class="pr-2"></mdb-icon>Ut enim ad minima veniam, quis nostrum
                exercitationem ullam
                corporis
                laboriosam.
              </p>
              <!--Review-->
              <div class="grey-text">
                <mdb-icon fas [icon]="i == 4 ? 'star-half' : 'star'" *ngFor="let star of stars; let i = index">
                </mdb-icon>
              </div>
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="testimonial">
              <!--Avatar-->
              <div class="avatar mx-auto">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(6).jpg" class="rounded-circle img-fluid">
              </div>
              <!--Content-->
              <h4 class="font-weight-bold mt-4">Andrea Clay</h4>
              <h6 class="blue-text font-weight-bold my-3">Front-end developer</h6>
              <p class="font-weight-normal">
                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Lorem ipsum dolor sit amet, consectetur
                adipisicing elit.
                Quod eos
                id officiis hic tenetur
                quae.
              </p>
              <!--Review-->
              <div class="grey-text">
                <mdb-icon fas icon="star" *ngFor="let star of stars; let i = index"></mdb-icon>
              </div>
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="testimonial">
              <!--Avatar-->
              <div class="avatar mx-auto">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(7).jpg" class="rounded-circle img-fluid">
              </div>
              <!--Content-->
              <h4 class="font-weight-bold mt-4">Cami Gosse</h4>
              <h6 class="blue-text font-weight-bold my-3">Phtographer</h6>
              <p class="font-weight-normal">
                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>At vero eos et accusamus et iusto odio
                dignissimos ducimus
                qui
                blanditiis praesentium.
              </p>
              <!--Review-->
              <div class="grey-text">
                <mdb-icon fas [icon]="star == 4 ? 'star-o' : 'star'" *ngFor="let star of stars; let i = index">
                </mdb-icon>
              </div>
            </div>
          </div>
          <!--Grid column-->
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
          <!--Grid column-->
          <div class="col-md-4">
            <div class="testimonial">
              <!--Avatar-->
              <div class="avatar mx-auto">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle img-fluid">
              </div>
              <!--Content-->
              <h4 class="font-weight-bold mt-4">Bobby Haley</h4>
              <h6 class="blue-text font-weight-bold my-3">Web Developer</h6>
              <p class="font-weight-normal">
                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Lorem ipsum dolor sit amet, consectetur
                adipisicing elit.
                Quod eos
                id officiis hic tenetur
                quae.
              </p>
              <!--Review-->
              <div class="grey-text">
                <mdb-icon fas icon="star" *ngFor="let star of stars; let i = index"></mdb-icon>
              </div>
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="testimonial">
              <!--Avatar-->
              <div class="avatar mx-auto">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle img-fluid">
              </div>
              <!--Content-->
              <h4 class="font-weight-bold mt-4">Elisa Janson</h4>
              <h6 class="blue-text font-weight-bold my-3">Marketer</h6>
              <p class="font-weight-normal">
                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>At vero eos et accusamus et iusto odio
                dignissimos ducimus
                qui
                blanditiis praesentium.
              </p>
              <!--Review-->
              <div class="grey-text">
                <mdb-icon fas [icon]="star == 4 ? 'star-half' : 'star'" *ngFor="let star of stars; let i = index">
                </mdb-icon>
              </div>
            </div>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="testimonial">
              <!--Avatar-->
              <div class="avatar mx-auto">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-fluid">
              </div>
              <!--Content-->
              <h4 class="font-weight-bold mt-4">Rob Jacobs</h4>
              <h6 class="blue-text font-weight-bold my-3">Front-end developer</h6>
              <p class="font-weight-normal">
                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Ut enim ad minima veniam, quis nostrum
                exercitationem ullam
                corporis
                laboriosam.
              </p>
              <!--Review-->
              <div class="grey-text">
                <mdb-icon fas [icon]="star == 4 ? 'star-o' : 'star'" *ngFor="let star of stars; let i = index">
                </mdb-icon>
              </div>
            </div>
          </div>
          <!--Grid column-->
        </mdb-slide>
        <!--/Third slide-->
      </mdb-carousel>
      <!--/.Carousel Wrapper-->
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section: Testimonials v.4 -->
</div>