<div>
    <div class="heading">
        <h1>LEARN MORE ABOUT ART LIBERTY</h1>
        <P>Art liberty is privately owned and operated by friends. No large corporations or investors keep our place
            rocking and rolling. Art liberty Studio was built with the intention to offer a safe, creative place for
            anyone and everyone to record, mix and master the highest quality of music. </P>
    </div>
    <!-- Section: Team v.3 -->
<section class="team-section my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Our amazing team</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas
      nostrum quisquam eum porro a pariatur veniam.</p>
  
    <!-- Grid row-->
    <div class="row text-center text-md-left">
  
      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
        <div class="avatar mb-md-0 mb-4 mx-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded z-depth-1" alt="Sample avatar">
        </div>
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">John Doe</h4>
          <h6 class="font-weight-bold grey-text mb-3">Web Designer</h6>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
            tenetur.</p>
          <!-- Facebook-->
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f"> </mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <mdb-icon fab icon="twitter"> </mdb-icon>
          </a>
          <!--Dribbble -->
          <a class="p-2 fa-lg dribbble-ic">
            <mdb-icon fab icon="dribbble"> </mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
        <div class="avatar mb-md-0 mb-4 mx-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded z-depth-1" alt="Sample avatar">
        </div>
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">Maria Kate</h4>
          <h6 class="font-weight-bold grey-text mb-3">Photographer</h6>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
            tenetur.</p>
          <!-- Facebook-->
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f"> </mdb-icon>
          </a>
          <!--YouTube -->
          <a class="p-2 fa-lg yt-ic">
            <mdb-icon fab icon="youtube"> </mdb-icon>
          </a>
          <!--Instagram-->
          <a class="p-2 fa-lg ins-ic">
            <mdb-icon fab icon="instagram"> </mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row-->
  
    <!-- Grid row-->
    <div class="row text-center text-md-left">
  
      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 mb-xl-0 mb-5 d-md-flex justify-content-between">
        <div class="avatar mb-md-0 mb-4 mx-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg" class="rounded z-depth-1" alt="Sample avatar">
        </div>
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">Anna Deynah</h4>
          <h6 class="font-weight-bold grey-text mb-3">Web Developer</h6>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
            tenetur.</p>
          <!-- Facebook-->
          <a class="p-2 fa-lg fb-ic">
            <mdb-icon fab icon="facebook-f"> </mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <mdb-icon fab icon="twitter"> </mdb-icon>
          </a>
          <!-- GitHub-->
          <a class="p-2 fa-lg git-ic">
            <mdb-icon fab icon="github"> </mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-xl-6 col-lg-12 d-md-flex justify-content-between">
        <div class="avatar mb-md-0 mb-4 mx-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" class="rounded z-depth-1 img-fluid"
            alt="Sample avatar">
        </div>
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">Sarah Melyah</h4>
          <h6 class="font-weight-bold grey-text mb-3">Front-end Developer</h6>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
            tenetur.</p>
          <!-- Google +-->
          <a class="p-2 fa-lg gplus-ic">
            <mdb-icon fab icon="google-plus"> </mdb-icon>
          </a>
          <!--LinkedIn -->
          <a class="p-2 fa-lg li-ic">
            <mdb-icon fab icon="linkedin-in"> </mdb-icon>
          </a>
          <!--Email-->
          <a class="p-2 fa-lg email-ic">
            <mdb-icon fas icon="envelope"> </mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row-->
  
  </section>
  <!-- Section: Team v.3 -->
</div>