<section>
    <div>
        <div class="img-wrap">
            <h2>Art Liberty</h2>
            <h2>Music Studio, Nairobi</h2>
            <h4>Are you ready for an art experience?</h4>
            <div class="btn-container">
                <a href="" class="btn btn-5">CHECKOUT OUR STUDIO</a>
            </div>
        </div>
        <div class="container" id="service-links">
            <div class="row">
                <div class="col-md-3">
                        <a href="">AUDIO RECORDING</a>
                </div>
                <div class="col-md-3">
                        <a href="">MUSIC PRODUCTION</a>
                </div>
                <div class="col-md-3">
                        <a href="">SONG WRITING</a>
                </div>
                <div class="col-md-3">
                        <a href="">MIXING & MASTERING</a>
                </div>
            </div>
        </div>
    </div>
</section>