<section>
    <div>
        <div class="img-wrap">
            <h1>Art Liberty</h1>
            <h1>Music Studio, Nairobi</h1>
            <h4>Are you ready for an art experience?</h4>
            <div class="btn-container">
                <a href="" class="btn btn-5">CHECKOUT OUR STUDIO</a>
            </div>
        </div>
        <div class="container" id="service-links">
            <div class="row">
                <div class="col-md-3">
                        <a href="">AUDIO RECORDING</a>
                </div>
                <div class="col-md-3">
                        <a href="">MUSIC PRODUCTION</a>
                </div>
                <div class="col-md-3">
                        <a href="">SONG WRITING</a>
                </div>
                <div class="col-md-3">
                        <a href="">MIXING & MASTERING</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row" id="firstRow">
              <div class="col-md-6" id="firstImage">
                <img src="images/mic.jpg" alt="Image of mic">
              </div>
              <div class="col-md-6" id="firstText">
                <h3>21ST CENTURY POST-PRODUCTION STUDIO</h3>
                <p class="lead">Incorporating innovation, aesthetics & accuracy, we bring you the premier option for mixing
                  and mastering music: Studio M. Providing a customized digital audio workstation that offers a
                  commercialized approach for the
                  perfect industry standard mix, Studio M features our renowned SSL 4000E console. Known for it’s
                  irresistibly clean sound and flexibility, the coveted SSL 4000 series has mixed more platinum selling
                  records than all other consoles
                  combined. All of these elements are the framework that make Studio M the ideal 21st century hybrid mixing
                  room where your music will go from a raw recording to a radio-ready masterpiece.</p>
              </div>
            </div>
            <div class="row" id="secondRow">
              <div class="col-md-6" id="secondText">
                <h3>OUR WORLD-CLASS PRODUCTION STUDIO DESIGNED FOR ANY GENRE, ANY PROJECT</h3>
                <p class="lead">Leading the way in delivering the highest quality productions, our accommodating and
                  technologically crafted Studio A was built from the ground up to record, mix and master everything from
                  full band recordings to top 40 pop
                  music. Whether recording a live or a separate tracking production, Studio A’s sonic and ergonomic
                  advantages make it the perfect production atmosphere with all of the necessary tools and components that
                  any radio ready production would
                  require today. Impressing all who have been in front of the mic or behind the console, Studio A will
                  continue to exceed the expectations for quality, sophistication, and session workflow within today's and
                  tomorrows' production
                  environments.</p>
              </div>
              <div class="col-md-6" id="secondImage">
                <img src="images/headphones.jpg" alt="Image of man with headphones">
              </div>
            </div>
          </div>
    </div>
</section>